@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lacquer&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    background-color: #152122;
}

.recipe {
    font-family: Montserrat;
    color: #7f9950;
}

.container {
    width: 40%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    width: 600px;
    height: auto;
    border-radius: 30px;
}

h3 {
    font-family: Montserrat;
    color: #7f9950;
    font-size: 20px;
    margin: 20px 40px;
}

ul, ol {
    width: 80%;
    margin: 10px 40px;
}

li {
    font-size: 17px;
    color: white;
    font-family: Inter;
    padding: 8px;
    text-align: justify;
}

.footer {
    margin-top: 30px;
    display: flex;
    background-color: #7f9950;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Lacquer;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
